<h1>Unsere Seminare</h1>

<ul class="seminar-type-cards">
  <% @seminar_types.each do |s| %>
    <li>
      <div class="seminar-type-cards__card">
        <%= image_tag(s.image, class: "seminar-type-cards__image", alt: "Seminar der Wildnisschule Wurzelholz") %>
        <div class="seminar-type-cards__overlay">
          <div class="seminar-type-cards__header">
            <svg class="seminar-type-cards__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <div>
              <h3 class="seminar-type-cards__title">
                <%= link_to s.name, frontend_seminar_type_seminar_instances_path(s) %>
              </h3>
            </div>
          </div>
          <p class="seminar-type-cards__description"><%= s.description %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
