<section class="account-abfrage">
  <div>
    <p>Möchtest du dich anmelden / einen Account erstellen oder als Gast fortfahren?</p>
    <%= link_to 'Anmelden', log_in_path(seminar: @seminar.id)  %>
    <%= link_to 'Account erstellen', new_frontend_user_path(seminar: @seminar.id) %>
    <%= link_to 'Als Gast buchen', new_frontend_seminar_type_seminar_instance_seminar_booking_path(@seminar_type, @seminar_instance, @seminar) %>
  </div>
</section>
