<% content_for :title do %>
  Gallerie
<% end %>

<div  class="gallery-container">
  <h1>Gallerie</h1>

  <% @gallery.gallery_images.each do |g| %>
    <figure>
      <%= image_tag(g.image, alt: "Seminare der Wildnisschule Wurzelholz") %>
    </figure>
  <% end %>

</div>
