  <section class="home__wildnisschulen">
    <article>
      <h2>Wildnisschulen - was ist das und wozu sind sie da? </h2>
      <div class="home__wildnisschulen--part">
        <p>
          Den Ursprung aller Wildnisschulen legte ein Apache - Stalking Wolf - der Ende des zwanzigsten Jahrhunderts Tom Brown und seinen Freund Rick in den Pine Barrens - seiner Vision folgend - darin lehrte, in und mit der Natur auf nachhaltige Weise zu leben, diese zu kennen und zu ehren, wie Menschen aller Kontinente das seit Urzeiten praktizierten. Waren wir doch immer und überall den Elementen ausgesetzt, der Erde, dem Wasser, dem Feuer und dem Wind nahe und damit auch verbunden mit dem, was uns umgibt.
        </p>
        <div>
          <%= image_tag 'wolf.png' %>
        </div>
      </div>
      <p class="center">
        Hier werden schon die wesentlichen Themen angesprochen, die allen Wildnisschulen zugrundeliegen:
      </p>
      <p class="center">
        <span class="green">Verbindung</span>,
        <span class="red">Würdigung</span>,
        <span class="grey">Nachhaltigkeit</span>,
        <span class="green">Dankbarkeit</span>,
        <span class="red">Gemeinschaft</span>,
        <span class="grey">Naturwissen</span>.
      </p>
      <div class="home__wildnisschulen--part">
        <div>
          <%= image_tag 'nature-drawing.png' %>
        </div>
        <p>
          Der moderne Mensch sucht zunehmend diese Verbindung auf vielen Ebenen wieder, sehnt sich nach Zugehörigkeit, nach der Möglichkeit, unsere Erde zu schützen, ihr Gutes zu tun. Naturschutz und Umweltthemen rücken stärker denn je in den Vordergrund und auch das Bedürfnis, Zeit in der Natur zu verbringen, wächst immens. Und immer wieder bemerken Menschen, dass sie das, was uns als Kindern selbstverständlich war - die Nachmittage im Wald zu verbringen und damit ganz natürlich zu lernen, ihren eigenen Kindern und auch sich selbst wieder ermöglichen wollen.
        </p>
      </div>
      <p>
        Doch oft läuft das Rad unseres persönlichen Lebens auf Halb - oder Vollautomatik und wir kommen kaum dazu, einen Moment innezuhalten und zu lauschen. Wie also können wir unserem Bedürfnis nach Naturverbindung nachgehen und die Sehnsucht zumindest punktuell stillen? Dafür ist das Erleben, das Erfahren und das Vernetzen mit Gleichgesinnten ein wichtiger Schritt.
      </p>
    </article>
  </section>
