<div class="navigation-container">
  <ul class="navigation-container__navigation">
    <li><b>Admin</b></li>
    <li><%= link_to "Hauptseite", log_out_path%></li>
    <li  class="navigation-container__dropdown-toggle">
      <%= link_to "Seminar Typen", admin_seminar_types_path %>
      <ul class="sub-menu">
        <li></li>
        <% SeminarType.all.each do |s| %>
          <li><%= link_to s.name, admin_seminar_type_seminar_instances_path(s.id) %></li>
        <% end %>
      </ul>
    </li>
    <li><%= link_to "Dashboard", frontend_user_path(current_user) %></li>
  </ul>
</div>
