<h1><%= @seminar_type.name %></h1>

<div class="seminar-cards-container">
  <% @seminar_instances.each do |s| %>
    <div class="seminar-cards-container__card">
      <div class="seminar-cards-container__text">
        <h2><%= link_to s.name, seminar_type_seminar_instance_path(params[:seminar_type_id], s) %></h2>
        <p>noch <b>so viele</b> verfügbar</p>
      </div>
    </div>
  <% end %>
</div>

