<h2>Hi <%= @booking.first_name %>, </h2>

<p>Deine Buchung für das Seminar "<%= @booking.seminar.seminar_instance.name %>" am <%= @booking.seminar.start_date.strftime("%d.%m.%Y") %> wurde bestätigt.</p>
