<h2>Liebe Mama,</h2>

<p><%= @booking.first_name %><%= @booking.last_name %> hat das Seminar "<%= @booking.seminar.seminar_instance.name %>" am <%= @booking.seminar.start_date.strftime("%d.%m.%Y") %> gebucht.</p>
