<div class="legal-container">
  <h1>Impressum</h1>

  <p>
    Wildnisschule Wurzelholz
    <br>
    Ines Collmer
    <br>
    Schützenstraße 9
    <br>
    42799 Leichlingen
  </p>
  <p>
    Bankverbindung
    <br>
    Bank: Bla
    <br>
    IBAN: Bla
    <br>
    BIC: Bla
  </p>
  <h2>
    Haftungsausschluss
  </h2>

  <h3>
    Haftung für Links
  </h3>
  <p>
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
  </p>

  <h3>
    Urheberrecht
  </h3>
  <p>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Über die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung der kostenfreien Informationen und Texte freuen wir uns sehr – allerdings wünschen wir uns, dass die Wildnisschule Wurzelholz als Quelle genannt wird und wir informiert werden, wo unser Material verwendet wird.
  </p>

  <h3>
    Datenschutz
  </h3>
  <p>
    Die Nutzung unserer Webseite ist ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Genaueres ist unseren Datenschutzbestimmungen zu entnehmen.
  </p>
  <p>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
  </p>
</div>
