<h1>Über die Schule</h1>
<p>
  Wurzelholz ist wie die Maserknolle oder Baumperle ein sehr wertvolles Holz,welches durch seine ursprünglichen Verwachsungen,Wucherungen,scheinbaren Irrwege zu etwas ganz Besonderem wird .Ein Unikat,einzigartig ,wundervoll.Aucht inspiriert das Wort Wurzel uns zu zahlreichen Assoziazionen: sich Verwurzeln,zu den Wurzeln zurückkehren,die eigenen Wurzeln aufspüren und vieles mehr.
  Wurzelholz ist für mich ein Kunstwerk,von der Natur erschaffen,in vielen Jahren gewachsen,oft durch scheinbare Störung verursacht,auch mit Mühe und Aufwand für den Baum verbunden.Das Kern-und Splintholz besticht durch gerades,ungestörtes Wachstum,möglichst schnell und damit wirtschaftlich.
  Anders so das Wurzelholz- was erst als störend empfunden wird,macht nachher den Wert aus.
  Genau so erscheint mir das Leben mancher Menschen – verschlungene Pfade,oft ohne Licht am Ende des Tunnels,scheinbare Irrwege- und doch sind genau diese mühevollen Lebensphasen die ,welche uns in die Tiefe wachsen lassen,über uns hinaus und gleichsam in uns hinein.
  Deshalb ist neben den rein inhaltlichen Themen der Wochenenden immer der Mensch an sich ,in seinem eigenen Prozess,genau an der Stelle,an der er sich in diesem   Moment befindet, ,wichtig , und indem wir über die und in der Natur lernen , lernen wir  uns ganz von selbst besser kennen.
</p>
