.seminar-instance-subtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

.seminar-cards-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;

  @include breakpointMobile {
    margin: 40px 0;
  }

  &__card {
    margin: 0 auto;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  }

  &__image {
    width: 350px;
    height: 350px;

    img {
      object-fit: cover;
      width: 350px;
      height: 350px;
    }
  }

  &__text {
    background-color: white;
    text-align: center;
    height: 150px;
    padding: 20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    h2 {
      font-size: 1em;
      margin: 0;
      color: var(--primary);
    }

    p {
      color: var(--grey);
      font-size: 1rem;
      margin: 0;
    }
  }
}
