.seminar-instance-subtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

.seminar-cards-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;

  &__card {
    //TODO - muss durch richtige Bilder ausgetauscht werden
    background: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin: 0 auto;
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);

  }

  &__text {
    background-color: white;
    text-align: center;
    height: 150px;
    padding: 20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    h2 {
      font-family: 'Hand-boys';
      font-size: 1em;
      margin: 0;
      color: var(--primary);
    }

    p {
      color: var(--grey);
      font-size: 1rem;
      margin: 0;
    }
  }
}
