<h1>Blog</h1>
<% @posts.each do |p| %>
  <h3><%= p.title %></h3>
  <%= link_to "Anschauen", admin_post_path(p), class: "button button-primary" %>
  <%= link_to "Editieren", edit_admin_post_path(p), class: "button button-secondary" %>
<% end %>

<hr class="mt-xs">

<%= link_to "Neuen Post", new_admin_post_path, class: "button button-primary mt-xs" %>
