<div class="footer-container">
  <ul>
    <li>
      <%= link_to 'Impressum', frontend_impressum_path  %>
    </li>
    <li>
      <%= link_to 'Datenschutz', frontend_datenschutz_path  %>
    </li>
    <li>
      <%= link_to 'AGB', frontend_agb_path  %>
    </li>
  </ul>
</div>
