<h1>Gallerie</h1>

<div class="admin-gallery">
  <% @gallery.gallery_images.each do |g| %>
    <figure>
      <%= image_tag g.image, style: "width:200px; height:200px;" %>
      <%= link_to 'Löschen', admin_gallery_image_path(g.id, action: :destroy), method: :delete, class: "red" %>
    </figure>
  <% end %>
</div>

<%= link_to "Neues Bild anlegen", new_admin_gallery_image_path, class: "button button-primary mt-xs" %>
