<% content_for :title do %>
  AGB
<% end %>

<h1>Allgemeine Geschäftsbedingungen</h1>

<h3>
  § 1 Datenschutz
</h3>
<p>
  Unsere Datenschutzbestimmungen finden Sie <%= link_to "hier", frontend_datenschutz_path %>.
</p>

<h3>
  § 2 Anmeldung
</h3>
<p>
  Die Anmeldung zu den Seminaren kann schriftlich oder per E-Mail erfolgen. Die Anmeldung ist verbindlich; auch dann, wenn die Anmeldebestätigung nicht oder nicht rechtzeitig eintrifft. Sollte das Seminar bereits ausgebucht sein, wird der Anmelder unverzüglich darüber informiert.
</p>

<h3>
§ 3 Leistung
</h3>
<p>
  Das Seminar wird vom Veranstalter gemäß der Ausschreibung durchgeführt. Er erbringt die darin enthaltenen Leistungen. Sofern in der Ausschreibung nichts anderes festgelegt ist, sind An- und Abreise nicht im Seminarpreis enthalten. Geringfügige Änderungen der Leistung (insbes. Änderung des Veranstaltungsortes, Änderung des Veranstaltungsraums innerhalb des Veranstaltungsortes, Änderung der Veranstaltungszeiten innerhalb eines Veranstaltungstages, Änderung des Veranstaltungsleiters, inhaltliche Umstellung innerhalb des Programms, Anpassung von praktischen Elementen an die Verhältnisse der Teilnehmer, witterungsbedingte Änderungen bei Veranstaltungen unter freiem Himmel und ein Referentenwechsel) bleiben vorbehalten.
</p>

<h3>
  § 4 Widerrufsbelehrung für Verbraucher (§ 13 BGB)
</h3>
<p>
  Widerrufsbelehrung für die Erbringung von Dienstleistungen
</p>
<p>
  Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsschlusses. Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Ines Collmer, Schützenstraße 9, 42799 Leichlingen, 0049 176 24810 363, info@wurzelholz.de) darüber informieren. Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
</p>
<p>
  Folgen des Widerrufs
</p>
<p>
  Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich eventueller Lieferkosten unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
</p>
<p>
  Haben Sie verlangt, dass die Dienstleistung während der Widerrufsfrist beginnen soll, so haben Sie uns einen angemessenen Betrag zu zahlen, der den Rücktrittsbedingungen zu entnehmen ist.
</p>
<p>
  Ende der Widerrufsbelehrung
</p>

<h3>
  § 5 Stornierung durch den Teilnehmer
</h3>
<p>
  Der Rücktritt von einer Veranstaltung ist schriftlich zu erklären. Ein Rücktritt von einer Seminar-Veranstaltung ist gegen Bezahlung von 25 % der Seminargebühr ab drei Monate vor Seminarbeginn möglich und gegen Bezahlung von 75 % der Seminargebühr ab sechs Wochen vor Beginn der Seminar-Veranstaltung. Ein Rücktritt von unseren Lehrgängen ist gegen Einbehaltung der geleisteten Anzahlung ab drei Monate vor Lehrgangsbeginn möglich und gegen Bezahlung von 75 % der Lehrgangsgebühr ab sechs Wochen vor Beginn des ersten Moduls des Lehrgangs. Bei einem Rücktritt innerhalb von drei Wochen vor Veranstaltungsbeginn ist in beiden Fällen die volle Teilnahmegebühr fällig. Für Verbraucher im Sinne des § 13 BGB gilt diese Regelung erst nach Ende der gesetzlichen Widerrufsfrist. Der Nachweis eines geringeren Schadens bleibt dem Teilnehmer vorbehalten.
</p>

<h3>
  § 6 Absage durch den Veranstalter
</h3>
<p>
  Für jede Veranstaltung wird durch den Veranstalter eine Mindestteilnehmerzahl festgelegt. Eine Absage der Veranstaltung wegen Unterschreitens dieser Mindestteilnehmerzahl erfolgt spätestens zwei Wochen vor deren Beginn. Dem Teilnehmer wird daraufhin der Seminarpreis erstattet. Dies gilt auch infolge höherer Gewalt bzw. einer Erkrankung des Referenten. Außer im Falle von Vorsatz und grober Fahrlässigkeit kommt der Veranstalter für vergebliche Aufwendungen oder ähnliche Nachteile infolge einer Absage nicht auf.
</p>

<h3>
  § 7 Ausschluss des Teilnehmers
</h3>
<p>
  Der Teilnehmer kann bei einer schwerwiegenden Störung der Veranstaltung nach vorheriger Abmahnung von der Veranstaltung ausgeschlossen werden. Davon unberührt bleibt der Anspruch des Veranstalters auf Zahlung des Seminarpreises, wobei dem Teilnehmer der Nachweis eines geringeren Schadens vorbehalten bleibt.
</p>

<h3>
  § 8 Zahlung des Seminarpreises
</h3>
<p>
  Nach Eingang der Anmeldung erhalten die Teilnehmer eine Rechnung, sofern die Zahlung der Seminargebühr nicht durch einen der angebotenen Internetdienstleister erfolgte. Die Anmeldung verpflichtet zur Zahlung der gesamten Veranstaltungskosten sobald die Rechnung verschickt wurde. Falls bei der Anmeldung anders angegeben, gelten die dort beschriebenen Zahlungsmodalitäten. Teilnehmer von nicht vollständig bezahlten Rechnungen werden zur Veranstaltung nicht zugelassen.
</p>

<h3>
  § 9 Haftung
</h3>
<p>
  Der Veranstalter haftet für entstehende Schäden lediglich, soweit diese auf einer Verletzung einer wesentlichen Vertragspflicht oder auf einem vorsätzlichen oder grob fahrlässigen Verhalten durch den Veranstalter, seine gesetzlichen Vertreter oder Erfüllungsgehilfen beruht. Wird eine wesentliche Vertragspflicht leicht fahrlässig verletzt, so ist die Haftung auf den vorhersehbaren vertragstypischen Schaden begrenzt. Eine wesentliche Vertragspflicht ist bei Verpflichtungen gegeben, deren Erfüllung die ordnungsgemäße Durchführung des Vertrags erst möglich macht oder auf deren Einhaltung der Kunde vertraut hat und vertrauen durfte. Eine darüberhinausgehende Haftung auf Schadensersatz ist ausgeschlossen. Die Haftung wegen schuldhafter Verletzung von Leben, Körper oder Gesundheit nach den gesetzlichen Bestimmungen bleibt unberührt. Dies gilt auch für die zwingende Haftung nach dem Produkthaftungsgesetz.
</p>

<h3>
  § 10 Urheberrecht
</h3>
<p>
  Sofern in der Ausschreibung nichts anderes festgelegt ist, erhält der Teilnehmer nicht das Recht, vom Veranstalter genutzte Marken und Unterlagen gewerblich zu nutzen. Die vom Veranstalter an den Teilnehmer ausgehändigten Unterlagen unterliegen dem urheberrechtlichen Schutz. Sie dürfen nur innerhalb der engen Grenzen des Urheberrechtes insbesondere zum eigenen Gebrauch verwendet werden. Bild- und Tonaufnahmen während der Veranstaltung bedürfen der schriftlichen Einwilligung des Veranstalters vor Beginn der Veranstaltung.
</p>

<h3>
  § 11 Schlussbestimmungen
</h3>
<p>
  Sollten einzelne Bestimmungen dieser Bedingungen unwirksam sein oder wer-den, so berührt dies die Wirksamkeit dieser Bedingungen oder eines darauf abgeschlossenen Vertrages im Übrigen nicht. Die Vertragsparteien werden in einem solchen Fall anstelle der unwirksamen Bestimmung eine wirksame vereinbaren, welche dem Regelungszweck der ursprünglichen Bestimmung wirtschaftlich möglichst nahekommt. Im Falle einer lückenhaften Regelung gilt Entsprechendes. Für Kaufleute, juristische Personen des öffentlichen Rechts oder öffentlich-rechtliche Sondervermögen ist der Gerichtsstand am Sitz des Veranstalters.
</p>
