<div class="legal-container">
  <h1>Datenschutz</h1>

  <h2>
    Datenschutzerklärung und Einwilligungen
  </h2>

  <h3>
    Inhaltsverzeichnis
  </h3>
  <ol>
    <li><a href="#1">Zielsetzung und verantwortliche Stelle</a> </li>
    <li><a href="#2">Grundsätzliche Angaben zur Datenverarbeitung</a> </li>
    <li><a href="#3">Verarbeitung personenbezogener Daten</a> </li>
    <li><a href="#4">Erhebung von Zugriffsdaten</a> </li>
    <li><a href="#5">Cookies & Reichweitenmessung</a> </li>
    <li><a href="#6">Kommentarfunktion auf dieser Website</a> </li>
    <li><a href="#7">SSL-Verschlüsselung</a> </li>
    <li><a href="#8">Auskunft, Löschung, Sperrung</a> </li>
    <li><a href="#9">Datenschutzerklärung für die Nutzung von Google Analytics</a> </li>
    <li><a href="#10">Datenschutzerklärung für die Nutzung von Google Web Fonts</a> </li>
    <li><a href="#11">Datenschutzerklärung für die Nutzung von Google Content Delivery Network (CDN)</a> </li>
    <li><a href="#12">Datenschutzerklärung für die Nutzung von Google Maps</a> </li>
    <li><a href="#13">Einbindung von Diensten und Inhalten Dritter</a> </li>
    <li><a href="#14">Rechte der Nutzer und Löschung</a> </li>
    <li><a href="#15">Widerspruch Werbe-Mails</a> </li>
    <li><a href="#16">Änderungen der Datenschutzerklärung</a> </li>
  </ol>

  <h3 id="1">1. Zielsetzung und verantwortliche Stelle</h3>
  <p>
    Diese Datenschutzerklärung klärt über die Art, den Umfang und Zweck der Verarbeitung (u.a. Erhebung, Verarbeitung und Nutzung sowie Einholung von Einwilligungen) von personenbezogenen Daten innerhalb unseres Onlineangebotes und der mit ihm verbundenen Webseiten, Funktionen und Inhalte (nachfolgend gemeinsam bezeichnet als „Onlineangebot“ oder „Website“) auf. Die Datenschutzerklärung gilt unabhängig von den verwendeten Domains, Systemen, Plattformen und Geräten (z.B. Desktop oder Mobile) auf denen das Onlineangebot ausgeführt wird.
  </p>
  <p>
    Anbieter des Onlineangebotes und die datenschutzrechtlich verantwortliche Stelle ist Ines Collmer, Schützenstraße 9, 42799 Leichlingen (nachfolgend bezeichnet als „AnbieterIn“, „wir“ oder „uns“). Für die Kontaktmöglichkeiten verweisen wir auf unser Impressum
  </p>
  <p>
    Der Begriff „Nutzer“ umfasst alle Kunden und Besucher unseres Onlineangebotes. Die verwendeten Begrifflichkeiten, wie z.B. „Nutzer“ sind geschlechtsneutral zu verstehen.
  </p>

  <h3 id="2">2. Grundsätzliche Angaben zur Datenverarbeitung</h3>
  <p>
    Wir verarbeiten personenbezogene Daten der Nutzer nur unter Einhaltung der einschlägigen Datenschutzbestimmungen entsprechend den Geboten der Datensparsamkeit- und Datenvermeidung. Das bedeutet die Daten der Nutzer werden nur beim Vorliegen einer gesetzlichen Erlaubnis, insbesondere wenn die Daten zur Erbringung unserer vertraglichen Leistungen sowie Online-Services erforderlich, bzw. gesetzlich vorgeschrieben sind oder beim Vorliegen einer Einwilligung verarbeitet.
  </p>
  <p>
    Wir treffen organisatorische, vertragliche und technische Sicherheitsmaßnahmen entsprechend dem Stand der Technik, um sicher zu stellen, dass die Vorschriften der Datenschutzgesetze eingehalten werden und um damit die durch uns verarbeiteten Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen zu schützen.
  </p>
  <p>
    Sofern im Rahmen dieser Datenschutzerklärung Inhalte, Werkzeuge oder sonstige Mittel von anderen Anbietern (nachfolgend gemeinsam bezeichnet als „Dritt-Anbieter“) eingesetzt werden und deren genannter Sitz im Ausland ist, ist davon auszugehen, dass ein Datentransfer in die Sitzstaaten der Dritt-Anbieter stattfindet. Die Übermittlung von Daten in Drittstaaten erfolgt entweder auf Grundlage einer gesetzlichen Erlaubnis, einer Einwilligung der Nutzer oder spezieller Vertragsklauseln, die eine gesetzlich vorausgesetzte Sicherheit der Daten gewährleisten.
  </p>

  <h3 id="3">3. Verarbeitung personenbezogener Daten</h3>
  <p>
    Die personenbezogenen Daten werden, neben den ausdrücklich in dieser Datenschutzerklärung genannten Verwendung, für die folgenden Zwecke auf Grundlage gesetzlicher Erlaubnisse oder Einwilligungen der Nutzer verarbeitet:
  </p>
  <ul>
    <li>
      Die Zurverfügungstellung, Ausführung, Pflege, Optimierung und Sicherung unserer Dienste-, Service- und Nutzerleistungen;
    </li>
    <li>
      Die Gewährleistung eines effektiven Kundendienstes und technischen Supports.
    </li>
  </ul>
  <p>
    Wir übermitteln die Daten der Nutzer an Dritte nur, wenn dies für Abrechnungszwecke notwendig ist (z.B. an einen Zahlungsdienstleister) oder für andere Zwecke, wenn diese notwendig sind, um unsere vertraglichen Verpflichtungen gegenüber den Nutzern zu erfüllen (z.B. Adressmitteilung an Lieferanten).
  </p>
  <p>
    Bei der Kontaktaufnahme mit uns (per Kontaktformular oder Email) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.
    Personenbezogene Daten werden gelöscht, sofern sie ihren Verwendungszweck erfüllt haben und der Löschung keine Aufbewahrungspflichten entgegenstehen.
  </p>

  <h3 id="4">4. Erhebung von Zugriffsdaten</h3>
  <p>
    Wir erheben Daten über jeden Zugriff auf den Server, auf dem sich dieser Dienst befindet (so genannte Serverlogfiles). Zu den Zugriffsdaten gehören Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.
  </p>
  <p>
    Wir verwenden die Protokolldaten ohne Zuordnung zur Person des Nutzers oder sonstiger Profilerstellung entsprechend den gesetzlichen Bestimmungen nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung unseres Onlineangebotes. Wir behalten uns jedoch vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht.
  </p>

  <h3 id="5">5. Cookies & Reichweitenmessung</h3>
  <p>
    Cookies sind Informationen, die von unserem Webserver oder Webservern Dritter an die Web-Browser der Nutzer übertragen und dort für einen späteren Abruf gespeichert werden. Über den Einsatz von Cookies im Rahmen pseudonymer Reichweitenmessung werden die Nutzer im Rahmen dieser Datenschutzerklärung informiert.
  </p>
  <p>
    Die Betrachtung dieses Onlineangebotes ist auch unter Ausschluss von Cookies möglich. Falls die Nutzer nicht möchten, dass Cookies auf ihrem Rechner gespeichert werden, werden sie gebeten die entsprechende Option in den Systemeinstellungen ihres Browsers zu deaktivieren. Gespeicherte Cookies können in den Systemeinstellungen des Browsers gelöscht werden. Der Ausschluss von Cookies kann zu Funktionseinschränkungen dieses Onlineangebotes führen.
  </p>
  <p>
    Es besteht die Möglichkeit, viele Online-Anzeigen-Cookies von Unternehmen über die US-amerikanische Seite <a href="http://www.aboutads.info/choices">http://www.aboutads.info/choices</a> oder die EU-Seite <a href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a> zu verwalten.
  </p>

  <h3 id="6">
    6. Kommentarfunktion auf dieser Website
  </h3>
  <p>
    Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
  </p>

  <h3 id="7">
    7. SSL-Verschlüsselung
  </h3>
  <p>
    Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
  </p>

  <h3 id="8">
    8. Auskunft, Löschung, Sperrung
  </h3>
  <p>
    Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
  </p>
  <h3 id="9">
    9. Datenschutzerklärung für die Nutzung von Google Analytics
  </h3>
  <p>
    Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Die Benutzung erfolgt auf der Grundlage des Art. 6 Abs. 1 S. 1 lit. f. DSGVO. Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Webseite durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung der Webseite wie
  </p>
    <ul>
      <li>Browser-Typ/-Version,</li>
      <li>verwendetes Betriebssystem,</li>
      <li>Referrer-URL (die zuvor besuchte Seite),</li>
      <li>Hostname des zugreifenden Rechners (IP-Adresse),</li>
      <li>Uhrzeit der Serveranfrage,</li>
    </ul>
  <p>
    werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Wir haben zudem auf dieser Webseite Google Analytics um den Code „anonymizeIP“ erweitert. Dies garantiert die Maskierung Ihrer IP-Adresse, sodass alle Daten anonym erhoben werden. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.
  </p>
  <p>
    Im Auftrag des Betreibers dieser Website wird Google diese Information benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseiten-Aktivitäten zusammenzustellen und um weitere mit der Webseiten-Nutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall möglicherweise nicht sämtliche Funktionen dieser Webseite vollumfänglich werden nutzen können.
  </p>
  <p>
    Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>. Alternativ zum Browser-Add-On, insbesondere bei Browsern auf mobilen Endgeräten, können Sie die Erfassung durch Google Analytics zudem verhindern, indem Sie auf diesen Link klicken. Es wird ein Opt-Out-Cookie gesetzt, das die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website verhindert. Der Opt-Out-Cookie gilt nur in diesem Browser und nur für unsere Website und wird auf Ihrem Gerät abgelegt. Löschen Sie die Cookies in diesem Browser, müssen Sie das Opt-Out-Cookie erneut setzen. [Anm. Hinweise zur Einbindung des Opt-Out-Cookie finden Sie unter: <a href="https://developers.google.com/analytics/devguides/collection/gajs/?hl=de#disable]">https://developers.google.com/analytics/devguides/collection/gajs/?hl=de#disable]</a>.
  </p>
  <p>
    Wir nutzen Google Analytics weiterhin dazu, Daten aus Double-Click-Cookies und auch AdWords zu statistischen Zwecken auszuwerten. Sollten Sie dies nicht wünschen, können Sie dies über den Anzeigenvorgaben-Manager (<a href="http://www.google.com/settings/ads/onweb/?hl=de">http://www.google.com/settings/ads/onweb/?hl=de</a>) deaktivieren.
  </p>
  <p>
    Weitere Informationen zum Datenschutz im Zusammenhang mit Google Analytics finden Sie etwa in der Google Analytics-Hilfe (<a href="https://support.google.com/analytics/answer/6004245?hl=de">https://support.google.com/analytics/answer/6004245?hl=de</a>).
  </p>


  <h4>
    Auftragsdatenverarbeitung
  </h4>
  <p>
    Wir haben mit Google einen Vertrag zur Auftragsdatenverarbeitung abgeschlossen und setzen die strengen Vorgaben der deutschen Datenschutzbehörden bei der Nutzung von Google Analytics vollständig um.
  </p>
  <h4>
    IPAnonymisierung
  </h4>
  <p>
    Wir nutzen die Funktion „Aktivierung der IP-Anonymisierung“ auf dieser Webseite. Dadurch wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
  </p>

  <h3 id="10">
    10. Datenschutzerklärung für die Nutzung von Google Web Fonts
  </h3>
  <p>
    Wir setzen auf unserer Seite „Google Web Fonts“ der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“, zur Darstellung von Schriften ein.
  </p>
  <p>
    Dadurch gewährleisten wir schnellere Ladezeiten und ein einheitliches Schriftbild auf allen verwendeten Geräten und Browsern. Google Web Fonts werden beim Besuch unserer Seite von einem externen Google Server aus den USA geladen. Dabei werden Daten wie beispielsweise Ihr verwendeter Browser und Ihre IP Adresse und welche unserer Webseiten Sie aufgerufen haben an Google übertragen.
  </p>
  <p>
    Weitere Informationen zum Datenschutz von Google und der Verwendung der erhobenen Daten durch Google finden Sie hier: <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>.
  </p>

  <h3 id="11">
    11. Datenschutzerklärung für die Nutzung von Google Content Delivery Network (CDN)
  </h3>
  <p>
    Wir setzen auf unserer Seite die Technologien Ajax und jQuery ein. Dadurch gewährleisten wir schnellere Ladezeite unserer Webseite und dynamisches Nachladen der Inhalte. Die entsprechenden Programmierbibliotheken werden aus dem Content Delivery Network (CDN) der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“, benutzt.
  </p>
  <p>
    Die Technologien Ajax und jQuery aus dem Google CDN liegen schon im Cache Ihres Broswers, wenn Sie bereits eine andere Webseite besucht haben, die auf das Google CDN zurückgreift. In diesem Fall greift unsere Webseite auf die Programmierbibliotheken in Ihrem Cache zurück. Sollte dies nicht der Fall sein, dann werden die Technologien Ajax und jQuery aus dem Google CDN in den Cache Ihres Broswers geladen, indem ein externer Google Server in den USA aufgerufen wird. Dabei werden Daten wie beispielsweise Ihr verwendeter Browser und Ihre IP Adresse und welche unserer Webseiten Sie aufgerufen haben an Google übertragen.
    Weitere Informationen zum Datenschutz von Google und der Verwendung der erhobenen Daten durch Google finden Sie hier: <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>.
  </p>
  <h3 id="12">
    12. Datenschutzerklärung für die Nutzung von Google Maps
  </h3>
  <p>
    Wir setzen auf unserer Seite die Komponente „Google Maps“ der Firma Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA, nachfolgend „Google“, ein.
  </p>
  <p>
    Bei jedem einzelnen Aufruf der Komponente „Google Maps“ wird von Google ein Cookie gesetzt, um bei der Anzeige der Seite, auf der die Komponente „Google Maps“ integriert ist, Nutzereinstellungen und -daten zu verarbeiten. Dieses Cookie wird im Regelfall nicht durch das Schließen des Browsers gelöscht, sondern läuft nach einer bestimmten Zeit ab, soweit es nicht von Ihnen zuvor manuell gelöscht wird.
  </p>
  <p>
    Wenn Sie mit dieser Verarbeitung Ihrer Daten nicht einverstanden sind, so besteht die Möglichkeit, den Service von „Google Maps“ zu deaktivieren und auf diesem Weg die Übertragung von Daten an Google zu verhindern. Dazu müssen Sie die Java-Script-Funktion in Ihrem Browser deaktivieren. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall die „Google Maps“ nicht oder nur eingeschränkt nutzen können.
  </p>
  <p>
    Die Nutzung von „Google Maps“ und der über „Google Maps“ erlangten Informationen erfolgt gemäß den Google-Nutzungsbedingungen (<a href="http://www.google.de/intl/de/policies/terms/regional.html">http://www.google.de/intl/de/policies/terms/regional.html</a>) sowie der zusätzlichen Geschäftsbedingungen für „Google Maps“ (<a href="https://www.google.com/intl/de_de/help/terms_maps.html">https://www.google.com/intl/de_de/help/terms_maps.html</a>).
  </p>

  <h3 id="13">
    13. Einbindung von Diensten und Inhalten Dritter
  </h3>
  <p>
    Es kann vorkommen, dass innerhalb unseres Onlineangebotes Inhalte oder Dienste von Dritt-Anbietern, wie zum Beispiel Stadtpläne oder Schriftarten von anderen Webseiten eingebunden werden. Die Einbindung von Inhalten der Dritt-Anbieter setzt immer voraus, dass die Dritt-Anbieter die IP-Adresse der Nutzer wahrnehmen, da sie ohne die IP-Adresse die Inhalte nicht an den Browser der Nutzer senden könnten. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Des Weiteren können die Anbieter der Dritt-Inhalte eigene Cookies setzen und die Daten der Nutzer für eigene Zwecke verarbeiten. Dabei können aus den verarbeiteten Daten Nutzungsprofile der Nutzer erstellt werden. Wir werden diese Inhalte möglichst datensparsam und datenvermeidend einsetzen sowie im Hinblick auf die Datensicherheit zuverlässige Dritt-Anbieter wählen.
  </p>
  <p>
    Die nachfolgende Darstellung bietet eine Übersicht von Dritt-Anbietern sowie ihrer Inhalte, nebst Links zu deren Datenschutzerklärungen, welche weitere Hinweise zur Verarbeitung von Daten und, z.T. bereits hier genannt, Widerspruchsmöglichkeiten (sog. Opt-Out) enthalten:
  </p>
  <ul>
    <li>
      Externe Schriftarten von Google, Inc., <a href="https://www.google.com/fonts">https://www.google.com/fonts</a> („Google Fonts“). Die Einbindung der Google Fonts erfolgt durch einen Serveraufruf bei Google (in der Regel in den USA). Datenschutzerklärung: <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a> , Opt-Out: <a href="https://www.google.com/settings/ads/">https://www.google.com/settings/ads/</a>.
    </li>
    <li>
      Landkarten des Dienstes „Google Maps“ des Dritt-Anbieters Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, gestellt. Datenschutzerklärung: <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>, Opt-Out: <a href="https://www.google.com/settings/ads/">https://www.google.com/settings/ads/</a>.
    </li>
    <li>
      Videos der Plattform “YouTube” des Dritt-Anbieters Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. Datenschutzerklärung: <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>, Opt-Out: <a href="https://www.google.com/settings/ads/">https://www.google.com/settings/ads/</a>.
    </li>
  </ul>

  <h3 id="14">
    14. Rechte der Nutzer und Löschung von Daten
  </h3>
  <p>
    Nutzer haben das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die von uns über sie gespeichert wurden.
    Zusätzlich haben die Nutzer das Recht auf Berichtigung unrichtiger Daten, Widerruf von Einwilligungen, Sperrung und Löschung ihrer personenbezogenen Daten sowie das Recht, im Fall der Annahme einer unrechtmäßigen Datenverarbeitung eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen.
  </p>
  <p>
    Die bei uns gespeicherten Daten werden gelöscht, sobald sie für ihre Zweckbestimmung nicht mehr erforderlich sind und der Löschung keine gesetzlichen Aufbewahrungspflichten entgegenstehen.
  </p>

  <h3 id="15">
    15. Widerspruch Werbe-Mails
  </h3>
  <p>
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
  </p>

  <h3 id="16">
    16. Änderungen der Datenschutzerklärung
  </h3>
  <p>
    Wir behalten uns vor, die Datenschutzerklärung zu ändern, um sie an geänderte Rechtslagen, oder bei Änderungen des Dienstes sowie der Datenverarbeitung anzupassen. Dies gilt jedoch nur im Hinblick auf Erklärungen zur Datenverarbeitung. Sofern Einwilligungen der Nutzer erforderlich sind oder Bestandteile der Datenschutzerklärung Regelungen des Vertragsverhältnisses mit den Nutzern enthalten, erfolgen die Änderungen nur mit Zustimmung der Nutzer.
    Die Nutzer werden gebeten sich regelmäßig über den Inhalt der Datenschutzerklärung zu informieren.
  </p>

  <p>
    Stand: 09. Juni 2022
  </p>
</div>
