<h1>Ich bin die Ines :)</h1>
<p>
  Jeden Sommer meiner Kindheit verbrachte ich am Gardasee in einem kleinen Bergdorf ,als es in Italien noch Amphibien ,Reptilien und Vögel wie die Nachtigall hinter jeder Hecke gab .Wie alle Kinder waren wir neugierig alles anzufassen oder zumindest zu beobachten ,täglich holten wir Schlangen aus dem Wasser oder sahen zu ,wie Skorpione ihre Stachel aufstellen ,und meist waren es auch recht giftige Tierchen, was uns damals gar nicht klar war.
  Wochenenden und Kurzurlaube fanden bei meinem Maler-Großvater in einer idyllischen naturbelassenen Landschaft auf der schwäbischen Alb statt  ,sodaß auch da direkt vor der Haustür das Abenteuer Natur wartete .Meine Mutter liebt Pflanzen –mein Vater Vögel- so war der Weg in diese beiden Welten schon  geebnet.
  Als Geigerin lernte ich schon sehr früh zuzuhören ,feinste Nuancen in der Veränderung einer Stimmung zu bemerken und zu begreifen ,daß alles ,was wir aussenden ,einen Effekt hat und wir mit allem in Resonanz gehen –kurz gesagt die Sensibilität für das  ,was uns umgibt. Insofern unterscheidet sich Musik wenig von Natur –sie arbeitet mit denselben Elementen.
  Später vertiefte ich mich in verschiedene Meditationspraktiken wie MBSR,MSC und Sumarah ,eine nicht sehr bekannte Form aus Java. Sumarah bedeutet Hingabe -.an das Leben.
  Eine dreijährige Ausbildung zum spirituell- psychologischen Wegbegleiter bei Michael Weiß sowie jahrelanges Training bei Inga Reif  in Prozessarbeit nach dem zwölf Schritte-Programm der AA  bereiteten für mich den Weg, Menschen bei ihren eigenen Prozessen zur Seite zu stehen- wie eine Hebamme ,die den Rahmen hält.
  Seit 15 Jahren leite ich nun Gruppen ,Jugendliche wie Erwachsene ,mit verschiedenen  Themen aus der Wildnispädagogik .Meine dreijährige Ausbildung dazu einschließlich zahlreicher Fortbildungen absolvierte ich bei Wolfgang Peham , Wildniswissen.
  Auch heute noch bin ich in der glücklichen Lage ,von einem Pflanzenmentor in Aschaffenburg und einen Vogelmentor in Wuppertal lernen zu dürfen –geht der Weg doch stetig weiter...
  Ich lebe mein Leben in wachsenden Ringen…
</p>
