<h1>Ich bin die Ines :)</h1>
<p>
  Jeden Sommer meiner Kindheit verbrachte ich am Gardasee in einem kleinen Bergdorf, als es in Italien noch Amphibien, Reptilien und Vögel wie die Nachtigall hinter jeder Hecke gab. Wie alle Kinder waren wir neugierig alles anzufassen oder zumindest zu beobachten, täglich holten wir Schlangen aus dem Wasser oder sahen zu, wie Skorpione ihre Stachel aufstellen, und meist waren es auch recht giftige Tierchen, was uns damals gar nicht klar war.
</p>
<p>
  Wochenenden und Kurzurlaube fanden bei meinem Maler-Großvater in einer idyllischen naturbelassenen Landschaft auf der schwäbischen Alb statt, sodaß auch da direkt vor der Haustür das Abenteuer Natur wartete. Meine Mutter liebt Pflanzen – mein Vater Vögel - so war der Weg in diese beiden Welten schon geebnet.
</p>
<p>
  Als Geigerin lernte ich schon sehr früh zuzuhören, feinste Nuancen in der Veränderung einer Stimmung zu bemerken und zu begreifen, daß alles was wir aussenden einen Effekt hat, und wir mit allem in Resonanz gehen – kurz gesagt die Sensibilität für das was uns umgibt. Insofern unterscheidet sich Musik wenig von Natur – sie arbeitet mit denselben Elementen.
</p>
<p>
  Später vertiefte ich mich in verschiedene Meditationspraktiken wie MBSR, MSC und Sumarah, eine nicht sehr bekannte Form aus Java. Sumarah bedeutet Hingabe - an das Leben. Eine dreijährige Ausbildung zum spirituell-psychologischen Wegbegleiter bei Michael Weiß sowie jahrelanges Training bei Inga Reif in Prozessarbeit nach dem zwölf Schritte-Programm der AA bereiteten für mich den Weg, Menschen bei ihren eigenen Prozessen zur Seite zu stehen - wie eine Hebamme, die den Rahmen hält.
</p>
<p>
  Auf meinen Reisen zu “indigenen” Völkern - die es so gar nicht mehr gibt - lernte ich viel über ursprüngliche Lebensweisen und Spiritualität. So erfuhr ich in der  Mongolei viel über das Leben der Nomaden, ihre Art und Weise nachhaltig mit und von dem Land zu leben, besonders sämtliche Teile eines erlegten Tieres und davor die gemolkene Milch zu verwenden. Die Penan auf Borneo sind ausgezeichnete Jäger und Fallensteller, unterrichten sich durch ein besonderes System Zweige zu knicken darüber, wo Wild zu finden ist. Die Hirten des Himalayagebirges leben den Sommer über getrennt von ihren Familien in Hütten aus Yakdung und ihre Spiritualität ist allgegenwärtig. Und der Gemeinschaftssinn der Buschleute, ihre Körperlichkeit und ihre Fähigkeit  Spuren zu erkennen und zu deuten sind legendär.
</p>
<p>
  Seit 15 Jahren leite ich nun Gruppen, Jugendliche wie Erwachsene, mit verschiedenen  Themen aus der Wildnispädagogik. Meine dreijährige Ausbildung dazu einschließlich zahlreicher Fortbildungen absolvierte ich bei Wolfgang Peham, <a href="https://www.wildniswissen.de/" class="red" target="_blank">Wildniswissen</a>.
</p>
<p>
  Auch heute noch bin ich in der glücklichen Lage, von einem Pflanzenmentor in Aschaffenburg und einem Vogelmentor in Wuppertal lernen zu dürfen – geht der Weg doch stetig weiter...
  Ich lebe mein Leben in wachsenden Ringen…
</p>
