<h1>Wichtige Infos zu den Seminaren</h1>

<h2>Unterkunft & Verpflegung</h2>
<p>
  Um das Gemeinschaftsgefühl zu stärken werden an jedem Wochenende, je nach Dauer des Seminars, ein bis zwei warme Abendessen von uns gestellt. Frühstück und Brotzeit - je nach Region Mittagessen genannt - bringen die Teilnehmer selbst mit (der Ausrüstungsliste zu entnehmen).
</p>
<p>
  Die Unterkünfte sind einfach, meist - wenn überhaupt drinnen - Matratzenlager. Sollte ein Zelt oder Tarp gebraucht werden steht dies in der Ausrüstungsliste des jeweiligen Seminars
</p>

<h2>Nebenkosten</h2>
<p>
  Es fallen an jedem Seminar neben den ausgeschriebenen Seminarkosten noch jeweils Nebenkosten für Unterkunft, Verpflegung und Kursmaterialien an (neben dem Preis als UVM ausgeschildert). Diese sind bitte immer in bar mitzubringen. Die Höhe der Kosten ist bei jedem Seminar unterschiedlich.
</p>

<h2>Philosophie</h2>
<p>
  Allen Kursen liegen die Gedanken zugrunde, wie wir Müll reduzieren, wie wir auf Ressourcen achten können in Form von Feuerholz, Strom, auch Kühlung oder Licht. Wie können wir unseren Wasserverbrauch reduzieren und wieviel davon brauchen wir wirklich? Wir öffnen uns für Alternativen  und dabei ist auch unsere Kreativität gefordert.
</p>

<h2>Anreise & Verantwortung</h2>
<p>
  Die Anreise zu den Seminaren erfolgt auf eigene Verantwortung und auch während des Kurses ist gesunder Menschenverstand gefragt. Genaueres könnt ihr unseren <%= link_to 'AGBs', frontend_agb_path, class: 'red' %> entnehmen. Einige Stunden werden auch bei Dunkelheit oder unterschiedlichen Wetterlagen draußen verbracht, wobei wir als Leiter zuerst die Sicherheit der Teilnehmer im Auge haben - safety first! So daß sich das Programm aufgrund von äußeren Umständen verändern  oder auch Teile wegfallen können.
</p>
