<h1>Wichtige Infos zu den Seminaren</h1>

<p>
  Um das Gemeinschaftsgefühl zu stärken, wird an jedem Wochenende mindestens ein Abendessen zusammen  am Feuer zubereitet, die Essen sind vegan und glutenfrei.
</p>
<p>
  Allen Kursen liegen die Gedanken zugrunde, wie wir Müll reduzieren, wie wir auf Ressourcen achten können in Form von Feuerholz, Strom, auch Kühlung oder Licht. Wie können wir unseren Wasserverbrauch reduzieren und wieviel davon brauchen wir wirklich? Wir öffnen uns für Alternativen  und dabei ist auch unsere Kreativität gefordert.
</p>
<p>
  Die Anreise zu den Seminaren erfolgt auf eigene Verantwortung und auch während des Kurses ist gesunder Menschenverstand gefragt, so daß der Veranstalter bei fahrlässigem Verhalten nicht haftet. Genaueres könnt ihr unseren <%= link_to 'AGBs', frontend_agb_path, class: 'red' %> entnehmen. Einige Stunden werden auch bei Dunkelheit oder unterschiedlichen Wetterlagen draußen verbracht, wobei wir als Leiter zuerst die Sicherheit der Teilnehmer im Auge haben - safety first! So daß sich das Programm aufgrund von äußeren Umständen verändern  oder auch Teile wegfallen können.
</p>
