<section class="home__angebot">
  <h2>Was wir anbieten</h2>

  <% SeminarType.all.each_with_index do |type, i| %>
    <div class="<%= (i + 1)%2 == 0 ? 'even' : 'odd' %> home__angebot--container" >

      <div class="home__angebot--text">
        <h3><%= link_to type.name, frontend_seminar_type_seminar_instances_path(type) %></h3>
        <p>
          <%= type.description %>
        </p>
      </div>

      <div class="home__angebot--image">
        <%= image_tag(type.image, alt: "Seminar der Wildnisschule Wurzelholz") %>
      </div>
    </div>
  <% end %>
</section>

