.account-abfrage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 70vh;

  div {
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      max-width: fit-content;
      align-self: center;
      color: var(--secondary);
    }
  }
}
