.footer-container {
  padding: 20px 0;
  background-color: black;
  color: white;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    list-style: none;
  }
}
