// * {outline: 1px solid red;}
.button {
  padding: var(--space-2xs) var(--space-m);
  display: inline-block;
  color: white !important;

  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-primary {
  background-color: var(--primary);
}

.button-secondary {
  background-color: var(--secondary);
}

.button-primary:hover,
.button-primary:focus {
    background: var(--primary-accent);
    text-decoration: none;
}

.button-secondary:hover,
.button-secondary:focus {
    background: var(--secondary-accent);
    text-decoration: none;
}

.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.form-container {
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;

  a {
    color: var(--secondary);
  }

  legend {
    font-size: var(--step-2);
    font-family: 'Hand-Boys';
    color: var(--primary);
    margin-top: var(--space-xl);
  }

  .button-primary {
    margin-top: var(--space-xs);
  }

  &__two-fields {
    display: flex;
    gap: var(--space-xs);
    flex-grow: 1;

    @include breakpointMobile() {
      flex-direction: column;
      margin-top: var(--space-l);
    }
  }

  &__group {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: var(--space-xs);

    input {
      padding: var(--space-3xs);
      border: none;
    }

    &--multi-select {
      display: flex;
      flex-direction: row;
      margin-top: var(--space-2xs);
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--space-xs);
    justify-content: flex-end;
    align-items: center;
    padding-top: var(--space-xs);
  }

  &__label {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    width: 95%;
  }

  textarea {
    width: 100%;
    height: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
  }

  p, ul, ol {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .signup-link {
   line-height: 2rem;
   color: var(--primary);
  }
}

// Checkbox Style

input[type="checkbox"], input[type="radio"] {
  appearance: none;
  margin: 0;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before, input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
  outline: calc(max(2px, 0.15em)) solid currentColor;
  outline-offset: calc(max(2px, 0.15em));
}

.no_button {
  border: none;
  outline: none;
  background-color: transparent;
}

.no_button:hover {
  text-decoration: underline;
}
