.home {

  // General
  h2 {
    color: var(--primary);
    text-align: center;
  }

  section {
    margin-top: var(--space-3xl);
  }

  // Section 2
  &__wildnisschulen {

    span {
      font-family: "Hand-Boys";
      font-size: var(--step-1);
    }

    &--part {
      display: flex;
      gap: 5%;
      flex-direction: column-reverse;

      @include breakpointDesktop() {
        flex-direction: row;

        p, div {
          width: 50%;
        }
      }


      div {
        position: relative;
      }

      img {
        @include breakpointDesktop () {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        margin: auto auto;
        padding: var(--space-l);
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  // Section 3
  &__angebot {

    &--container {
      display: flex;
      gap: 5%;
      margin-top: var(--space-xl);

      @include breakpointMobile() {
        flex-direction: column;
      }
    }

    &--container > * {
      flex: 1 1 0px;
    }

    &--image {
      img {
        object-fit: cover;
        border: 3px solid var(--primary);
        width: 100%;
      }
    }

    @include breakpointDesktop() {
      .even {
        flex-direction: row-reverse;
      }

      &--image {
        position: relative;
        width: 100%;

        img {
          position: absolute;
          height: 100%;
        }
      }
    }

    @include breakpointMobile() {

      &--image {
        margin-top: var(--space-m);

        img {
          aspect-ratio: 4 / 2;
        }
      }
    }

    &--text {
      h3 {
        color: var(--secondary);
        line-height: var(--step-1);
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
// * {outline: 1px solid red;}
