.home {

  // General
  h2 {
    font-family: 'Hand-Boys';
    color: var(--primary);
    font-size: var(--step-1);
    text-align: center;
  }

  section {
    margin-top: var(--space-3xl);
  }

  // Section 2
  &__wildnisschulen {

    span {
      font-family: "Hand-Boys";
      font-size: var(--step-1);
    }

    &--part {
      display: flex;
      gap: 5%;

      p, div {
        width: 50%;
      }

      div {
        position: relative;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto auto;
        padding: var(--space-l);
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  // Section 3
  &__angebot {

    &--container {
      display: flex;
      gap: 5%;
      margin-top: var(--space-xl);
    }

    &--container > * {
      flex: 1 1 0px;
    }

    .even {
      flex-direction: row-reverse;
    }

    &--text {
      h3 {
        color: var(--secondary);
        line-height: var(--step-1);
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }
    }

    &--image {
      position: relative;
      width: 100%;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border: 3px solid var(--primary);
      }
    }
  }
}
// * {outline: 1px solid red;}
