.location-container {

  &__address {
    display: flex;

    @include breakpointMobile() {
      flex-direction: column;
    }
  }

  img {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    border: 5px solid var(--primary);
  }

  &__address > * {
    flex: 1 1 0px;
  }

  &__map {
    padding: 5px;
    background-color: var(--primary);
  }
}
