.message {
  text-align: center;
  padding: var(--space-s);
  font-family: 'Hand-Boys';

  &__alert {
    background-color: var(--secondary);
  }

  &__notice {
    background-color: var(--primary);
  }
}
