.navigation-container {
  text-transform: uppercase;
  font-size: var(--step-0);
  padding: 20px 0;
  margin: 0 10vw;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a:hover {
    color: var(--secondary);
  }

  &__navigation {
    display: flex;
    justify-content: space-evenly;
  }

  &__dropdown-toggle {

    ul {
      display: none;

      li {
        display: none;
        white-space: nowrap;
      }
    }
  }

  &__navigation > li:hover .sub-menu li{
    display: block;
    width: 1px;
    overflow: visible;
  }

  &__navigation > li:hover .sub-menu {
    display: block;
  }
}
