.seminar_instance {

  h2 {
    font-family: 'Hand-Boys';
    color: var(--primary);
  }

  a {
    color: var(--secondary);
  }

  &__image_section {
    display: flex;
  }

  &__image_section > * {
    flex: 1 1 0px;
  }

  &__image {
    margin: auto;
    display: flex;
    justify-content: center;

    img {
      outline: 5px solid var(--primary);
      width: 500px;
      height: 300px;
      object-fit: cover;
      object-position: left;
    }
  }
}
