.table {

  a {
    color: var(--secondary);
  }

  th {
    background-color: var(--grey);
    font-size: var(--step-1);
    font-style: bold;
  }

  td {
    background-color: white;
    font-size: 1rem;
  }


  td, th {
    width: 200px;
    padding: 10px;
    text-align: center;
    outline: 3px solid var(--primary);
  }
}
