body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body.admin {
  background-color: beige;
  color: black;
}

body.frontend:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  filter: brightness(25%);
  background: image_url("wood-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: black;
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

.main-container {
  position: relative;
  overflow: hidden;
  max-width: 1400px;
  min-height: 85vh;
  margin: 0 auto;
  padding: 0 10%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}
