<div class="navigation">
  <ul>
    <li><%= link_to "Home",  root_path%></li>
    <li><%= link_to "Angebot", seminar_types_path %></li>
    <li><%= link_to "Über Ines", ueber_ines_path %></li>
  </ul>
</div>
